.footer{
    height: 40vh;
    background-color: black;
}
.fotP{
    text-align: center;
    color: white;
}
.seccion1{
  height: 100vh;  
}
body{
    background-image:url(imgfondo/el\ arbol.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
}