body{

}

.barra{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
