


@keyframes stageBackground {
   0%, 10%, 90%, 100% {
     background-color: #00B6BB;
   }
 
   25%, 75% {
     background-color: #0094bd;
   }
 }
 
 @keyframes earthRotation {
   from {
     transform: rotate(0deg);
   }
 
   to {
     transform: rotate(360deg);
   }
 }
 
 @keyframes sunrise {
   0%, 10%, 90%, 100% {
     box-shadow: 0 0 0 25px #5ad6bd, 0 0 0 40px #4acead, 0 0 0 60px rgba(74, 206, 173, 0.6), 0 0 0 90px rgba(74, 206, 173, 0.3);
   }
 
   25%, 75% {
     box-shadow: 0 0 0 0 #5ad6bd, 0 0 0 0 #4acead, 0 0 0 0 rgba(74, 206, 173, 0.6), 0 0 0 0 rgba(74, 206, 173, 0.3);
   }
 }
 
 @keyframes moonOrbit {
   25% {
     transform: rotate(-60deg);
   }
 
   50% {
     transform: rotate(-60deg);
   }
 
   75% {
     transform: rotate(-120deg);
   }
 
   0%, 100% {
     transform: rotate(-180deg);
   }
 }
 
 @keyframes nightTime {
   0%, 90% {
     opacity: 0;
   }
 
   50%, 75% {
     opacity: 1;
   }
 }
 
 @keyframes hotPan {
   0%, 90% {
     background-color: #74667e;
   }
 
   50%, 75% {
   background-color: #000000;
   }
 }
 
 @keyframes heat {
   0%, 90% {
     box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.3);
   }
 
   50%, 75% {
     box-shadow: inset 0 -2px 0 0 white;
   }
 }
 
 @keyframes smoke {
   0%, 50%, 90%, 100% {
     opacity: 0;
   }
 
   50%, 75% {
     opacity: 0.7;
   }
 }
 
 @keyframes fire {
   0%, 90%, 100% {
     opacity: 0;
   }
 
   50%, 75% {
     opacity: 1;
   }
 }
 
 @keyframes treeShake {
   0% {
     transform: rotate(0deg);
   }
 
   25% {
     transform: rotate(-2deg);
   }
 
   40% {
     transform: rotate(4deg);
   }
 
   50% {
     transform: rotate(-4deg);
   }
 
   60% {
     transform: rotate(6deg);
   }
 
   75% {
     transform: rotate(-6deg);
   }
 
   100% {
     transform: rotate(0deg);
   }
 }
 
 @keyframes fireParticles {
   0% {
     height: 30%;
     opacity: 1;
     top: 75%;
   }
 
   25% {
     height: 25%;
     opacity: 0.8;
     top: 40%;
   }
 
   50% {
     height: 15%;
     opacity: 0.6;
     top: 20%;
   }
 
   75% {
     height: 10%;
     opacity: 0.3;
     top: 0;
   }
 
   100% {
     opacity: 0;
   }
 }
 
 @keyframes fireLines {
   0%, 25%, 75%, 100% {
     bottom: 0;
   }
 
   50% {
     bottom: 5%;
   }
  }
  /*hace que la barra se quede quieta*/
.barra{
  padding-bottom: 1rem;
  width: 500%;
  height: 20;
  position: fixed;
  border-color: #000;
  background-image: url(img/fondo/Captura\ de\ pantalla\ 2024-08-13\ 205854.png);
}
/*estilo de la barra*/
.barra ul li{
  border-radius: 10px;
  border-width: 4px;
  border-color:black;
  border-style: solid;
  position: relative;
  float: left;
  margin-right: 5rem;
  background-color: rgb(94, 233, 228);
  padding: 0.7rem;
}
/*palabras de las palabras*/
.barra ul li a{
  text-decoration: none;
  color:black
}
 .scene {
   display: flex;
   margin: 0 auto 80px auto;
   justify-content: center;
   align-items: flex-end;
   width: 400px;
   height: 300px;
   position: relative;
 }
 
 .forest {
   display: flex;
   width: 75%;
   height: 90%;
   position: relative;
 }
 
 .tree {
   display: block;
   width: 50%;
   position: absolute;
   bottom: 0;
   opacity: 0.4;
 }
 
 .tree .branch {
   width: 80%;
   height: 0;
   margin: 0 auto;
   padding-left: 40%;
   padding-bottom: 50%;
   overflow: hidden;
 }
 
 .tree .branch:before {
   content: "";
   display: block;
   width: 0;
   height: 0;
   margin-left: -600px;
   border-left: 600px solid transparent;
   border-right: 600px solid transparent;
   border-bottom: 950px solid #000;
 }
 
 .tree .branch.branch-top {
   transform-origin: 50% 100%;
   animation: treeShake 0.5s linear infinite;
 }
 
 .tree .branch.branch-middle {
   width: 90%;
   padding-left: 45%;
   padding-bottom: 65%;
   margin: 0 auto;
   margin-top: -25%;
 }
 
 .tree .branch.branch-bottom {
   width: 100%;
   padding-left: 50%;
   padding-bottom: 80%;
   margin: 0 auto;
   margin-top: -40%;
 }
 
 .tree1 {
   width: 31%;
 }
 
 .tree1 .branch-top {
   transition-delay: 0.3s;
 }
 
 .tree2 {
   width: 39%;
   left: 9%;
 }
 
 .tree2 .branch-top {
   transition-delay: 0.4s;
 }
 
 .tree3 {
   width: 32%;
   left: 24%;
 }
 
 .tree3 .branch-top {
   transition-delay: 0.5s;
 }
 
 .tree4 {
   width: 37%;
   left: 34%;
 }
 
 .tree4 .branch-top {
   transition-delay: 0.6s;
 }
 
 .tree5 {
   width: 44%;
   left: 44%;
 }
 
 .tree5 .branch-top {
   transition-delay: 0.7s;
 }
 
 .tree6 {
   width: 34%;
   left: 61%;
 }
 
 .tree6 .branch-top {
   transition-delay: 0.2s;
 }
 
 .tree7 {
   width: 24%;
   left: 76%;
 }
 
 .tree7 .branch-top {
   transition-delay: 0.1s;
 }
 
 .tent {
   width: 60%;
   height: 25%;
   position: absolute;
   bottom: -0.5%;
   right: 15%;
   z-index: 1;
   text-align: right;
 }
 
 .roof {
   display: inline-block;
   width: 45%;
   height: 100%;
   margin-right: 10%;
   position: relative;
   /*bottom: 0;
   right: 9%;*/
   z-index: 1;
   border-top: 4px solid #4D4454;
   border-right: 4px solid #4D4454;
   border-left: 4px solid #4D4454;
   border-top-right-radius: 6px;
   transform: skew(30deg);
   box-shadow: inset -3px 3px 0px 0px #F7B563;
   /*background: linear-gradient(
     to bottom, 
     rgba(246,212,132,1) 0%,
     rgba(246,212,132,1) 24%,
     rgba(#F0B656,1) 25%,
     rgba(#F0B656,1) 74%,
     rgba(235,151,53,1) 75%,
     rgba(235,151,53,1) 100%
   );*/
   background: #f6d484;
 }
 
 .roof:before {
   content: "";
   width: 70%;
   height: 70%;
   position: absolute;
   top: 15%;
   left: 15%;
   z-index: 0;
   border-radius: 10%;
   background-color: #E78C20;
 }
 
 .roof:after {
   content: "";
   height: 75%;
   width: 100%;
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: 1;
   background: linear-gradient(to bottom, rgba(231, 140, 32, 0.4) 0%, rgba(231, 140, 32, 0.4) 64%, rgba(231, 140, 32, 0.8) 65%, rgba(231, 140, 32, 0.8) 100%);
 }
 
 .roof-border-left {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   width: 1%;
   height: 125%;
   position: absolute;
   top: 0;
   left: 35.7%;
   z-index: 1;
   transform-origin: 50% 0%;
   transform: rotate(35deg);
 }
 
 .roof-border-left .roof-border {
   display: block;
   width: 100%;
   border-radius: 2px;
   border: 2px solid #4D4454;
 }
 
 .roof-border-left .roof-border1 {
   height: 40%;
 }
 
 .roof-border-left .roof-border2 {
   height: 10%;
 }
 
 .roof-border-left .roof-border3 {
   height: 40%;
 }
 
 .door {
   width: 55px;
   height: 92px;
   position: absolute;
   bottom: 2%;
   overflow: hidden;
   z-index: 0;
   transform-origin: 0 105%;
 }
 
 .left-door {
   transform: rotate(35deg);
   position: absolute;
   left: 13.5%;
   bottom: -3%;
   z-index: 0;
 }
 
 .left-door .left-door-inner {
   width: 100%;
   height: 100%;
   transform-origin: 0 105%;
   transform: rotate(-35deg);
   position: absolute;
   top: 0;
   overflow: hidden;
   background-color: #EDDDC2;
 }
 
 .left-door .left-door-inner:before {
   content: "";
   width: 15%;
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
   background: repeating-linear-gradient(#D4BC8B, #D4BC8B 4%, #E0D2A8 5%, #E0D2A8 10%);
 }
 
 .left-door .left-door-inner:after {
   content: "";
   width: 50%;
   height: 100%;
   position: absolute;
   top: 15%;
   left: 10%;
   transform: rotate(25deg);
   background-color: #fff;
 }
 
 .right-door {
   height: 89px;
   right: 21%;
   transform-origin: 0 105%;
   transform: rotate(-30deg) scaleX(-1);
   position: absolute;
   bottom: -3%;
   z-index: 0;
 }
 
 .right-door .right-door-inner {
   width: 100%;
   height: 100%;
   transform-origin: 0 120%;
   transform: rotate(-30deg);
   position: absolute;
   bottom: 0px;
   overflow: hidden;
   background-color: #EFE7CF;
 }
 
 .right-door .right-door-inner:before {
   content: "";
   width: 50%;
   height: 100%;
   position: absolute;
   top: 15%;
   right: -28%;
   z-index: 1;
   transform: rotate(15deg);
   background-color: #524A5A;
 }
 
 .right-door .right-door-inner:after {
   content: "";
   width: 50%;
   height: 100%;
   position: absolute;
   top: 15%;
   right: -20%;
   transform: rotate(20deg);
   background-color: #fff;
 }
 
 .floor {
   width: 80%;
   position: absolute;
   right: 10%;
   bottom: 0;
   z-index: 1;
 }
 
 .floor .ground {
   position: absolute;
   border-radius: 2px;
   border: 2px solid #4D4454;
 }
 
 .floor .ground.ground1 {
   width: 65%;
   left: 0;
 }
 
 .floor .ground.ground2 {
   width: 30%;
   right: 0;
 }
 
 .fireplace {
   display: block;
   width: 24%;
   height: 20%;
   position: absolute;
   left: 5%;
 }
 
 .fireplace:before {
   content: "";
   display: block;
   width: 8%;
   position: absolute;
   bottom: -4px;
   left: 2%;
   border-radius: 2px;
   border: 2px solid #4D4454;
   background: #4D4454;
 }
 
 .fireplace .support {
   display: block;
   height: 105%;
   width: 2px;
   position: absolute;
   bottom: -5%;
   left: 10%;
   border: 2px solid #4D4454;
 }
 
 .fireplace .support:before {
   content: "";
   width: 100%;
   height: 15%;
   position: absolute;
   top: -18%;
   left: -4px;
   border-radius: 2px;
   border: 2px solid #4D4454;
   transform-origin: 100% 100%;
   transform: rotate(45deg);
 }
 
 .fireplace .support:after {
   content: "";
   width: 100%;
   height: 15%;
   position: absolute;
   top: -18%;
   left: 0px;
   border-radius: 2px;
   border: 2px solid #4D4454;
   transform-origin: 0 100%;
   transform: rotate(-45deg);
 }
 
 .fireplace .support:nth-child(1) {
   left: 85%;
 }
 
 .fireplace .bar {
   width: 100%;
   height: 2px;
   border-radius: 2px;
   border: 2px solid #4D4454;
 }
 
 .fireplace .hanger {
   display: block;
   width: 2px;
   height: 25%;
   margin-left: -4px;
   position: absolute;
   left: 50%;
   border: 2px solid #4D4454;
 }
 
 .fireplace .pan {
   display: block;
   width: 25%;
   height: 50%;
   border-radius: 50%;
   border: 4px solid #4D4454;
   position: absolute;
   top: 25%;
   left: 35%;
   overflow: hidden;
   animation: heat 5s linear infinite;
 }
 
 .fireplace .pan:before {
   content: "";
   display: block;
   height: 53%;
   width: 100%;
   position: absolute;
   bottom: 0;
   z-index: -1;
   border-top: 4px solid #4D4454;
   background-color: #74667e;
   animation: hotPan 5s linear infinite;
 }
 
 .fireplace .smoke {
   display: block;
   width: 20%;
   height: 25%;
   position: absolute;
   top: 25%;
   left: 37%;
   background-color: rgb(255, 255, 255);
   filter: blur(5px);
   animation: smoke 5s linear infinite;
 }
 
 .fireplace .fire {
   display: block;
   width: 25%;
   height: 120%;
   position: absolute;
   bottom: 0;
   left: 33%;
   z-index: 1;
   animation: fire 5s linear infinite;
 }
 
 .fireplace .fire:before {
   content: "";
   display: block;
   width: 100%;
   height: 2px;
   position: absolute;
   bottom: -4px;
   z-index: 1;
   border-radius: 2px;
   border: 1px solid #efb54a;
   background-color: #efb54a;
 }
 
 .fireplace .fire .line {
   display: block;
   width: 2px;
   height: 100%;
   position: absolute;
   bottom: 0;
   animation: fireLines 1s linear infinite;
 }
 
 .fireplace .fire .line2 {
   left: 50%;
   margin-left: -1px;
   animation-delay: 0.3s;
 }
 
 .fireplace .fire .line3 {
   right: 0;
   animation-delay: 0.5s;
 }
 
 .fireplace .fire .line .particle {
   height: 10%;
   position: absolute;
   top: 100%;
   z-index: 1;
   border-radius: 2px;
   border: 2px solid #efb54a;
   animation: fireParticles 0.5s linear infinite;
 }
 
 .fireplace .fire .line .particle1 {
   animation-delay: 0.1s;
 }
 
 .fireplace .fire .line .particle2 {
   animation-delay: 0.3s;
 }
 
 .fireplace .fire .line .particle3 {
   animation-delay: 0.6s;
 }
 
 .fireplace .fire .line .particle4 {
   animation-delay: 0.9s;
 }
 
 .time-wrapper {
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
 }
 
 .time {
   display: block;
   width: 100%;
   height: 200%;
   position: absolute;
   transform-origin: 50% 50%;
   transform: rotate(270deg);
   animation: earthRotation 5s linear infinite;
 }
 
 .time .day {
   display: block;
   width: 20px;
   height: 20px;
   position: absolute;
   top: 20%;
   left: 40%;
   border-radius: 50%;
   box-shadow: 0 0 0 25px #5ad6bd, 0 0 0 40px #4acead, 0 0 0 60px rgba(74, 206, 173, 0.6), 0 0 0 90px rgba(74, 206, 173, 0.3);
   animation: sunrise 5s ease-in-out infinite;
   background-color: #ef9431;
 }
 
 .time .night {
   animation: nightTime 5s ease-in-out infinite;
 }
 
 .time .night .star {
   display: block;
   width: 4px;
   height: 4px;
   position: absolute;
   bottom: 10%;
   border-radius: 50%;
   background-color: #fcfbfb;
 }
 
 .time .night .star-big {
   width: 6px;
   height: 6px;
 }
 
 .time .night .star1 {
   right: 23%;
   bottom: 25%;
 }
 
 .time .night .star2 {
   right: 35%;
   bottom: 18%;
 }
 
 .time .night .star3 {
   right: 47%;
   bottom: 25%;
 }
 
 .time .night .star4 {
   right: 22%;
   bottom: 20%;
 }
 
 .time .night .star5 {
   right: 18%;
   bottom: 30%;
 }
 
 .time .night .star6 {
   right: 60%;
   bottom: 20%;
 }
 
 .time .night .star7 {
   right: 70%;
   bottom: 23%;
 }
 
 .time .night .moon {
   display: block;
   width: 25px;
   height: 25px;
   position: absolute;
   bottom: 22%;
   right: 33%;
   border-radius: 50%;
   transform: rotate(-60deg);
   box-shadow: 9px 9px 3px 0 white;
   filter: blur(1px);
   animation: moonOrbit 5s ease-in-out infinite;
 }
 
 .time .night .moon:before {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   bottom: -9px;
   left: 9px;
   border-radius: 50%;
   box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.05), 0 0 0 15px rgba(255, 255, 255, 0.05), 0 0 0 25px rgba(255, 255, 255, 0.05), 0 0 0 35px rgba(255, 255, 255, 0.05);
   background-color: rgba(255, 255, 255, 0.2);
 }



 .comida{
   color: rgb(255, 255, 255);
 }


  /*
.footer{ 
   background-color: black;
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0; 
}
.fotP{
    text-align: center;
    color: white;
}*/
.seccion1{
  height: 100vh;  
}
body{

    background-repeat: no-repeat;
    background-size:cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
 
 /*el fondo anterior no permite la correcta visualizacion 
 de lo que dicen las frases que tienen fondo difuminado,
  por eso esta imagen de fondo aunque simple cumple con la misma funcion*/
 body{
    font-family: 'Times New Roman', Times, serif;
  background-image: url(img/fondo/Moonlit\ Asteroid.jpg);
  background-size: cover;
 }
 

 .container{
    max-width: 1200px;
    margin: 0 auto;
    
 }
 
 .header{
    background-image: url(img/fondo/hhh.png);
   background-size: cover;
   opacity: calc();
   display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 100px 0;
    color: rgb(255, 255, 255);
 }
 
 .menu{
position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
 }
 
 .logo{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
 }
 
 .menu.navbar a {
  position: absolute;
  float: left;  
 }
 
 
 
 
 
 
 #menu{
    display: none;
 }
 .menu-icono{
    width: 25px;
 }
 .menu label{
    cursor: pointer;
    display: none;
 }
 
 .submenu{
    position: relative;
 }
 .submenu #carrito{
    display: none;
 }
 .submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #433e4776;
    padding: 20px;
    min-width: 400px;
 }
 
 table{
    width: 100%;
 }
 th, td {
    color: rgb(255, 255, 255);
 }
 
 
 .borrar{
    background-color: #8dc84b;
    border-radius: 50%;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    cursor: pointer;
 }
 
 .header-content{
    display: flex;
 }
 .header-txt{
    flex-basis: 50%;
 }
 .header-txt span {
    font-size: 16px;
    color: rgb(255, 132, 0);
    font-weight: 700;
    margin-bottom: 15px;
    display: block;
 }
 
 .header-txt h1 {
    font-size: 55px;
    line-height: 1;
    color: #ffffff;
    margin-bottom: 25px;
 }
 
 p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 45px;
 }
 
 .btn-1 {
    display: inline-block;
    padding: 17px 17px;
    color: #ffffff;
    border-radius: 25px;
    background-color: #ff0000;
    text-transform: capitalize;
 }
 
 .header-img{
    flex-basis: 50%;
    text-align: center;
 }
 
 
 .information {
    width: 70%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1 );
    padding: 25px 75px;
    margin-top: -75px;
    background-image: url(img/yyy.jpg);
    background-size: cover;
 }
 
 .information-content{
    text-align: center;
    display: flex;
    justify-content: space-between;
 }
 
 .information-1 imf {
 width: 35px;
 }
 
 h3{
    font-size: 17px;
    color: #ffffff;
    text-transform: capitalize;
 }
 
 .information-1 p {
 margin-bottom: 0;
 }
 .oferts{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    
 }
 
 .ofert-1{
    text-align: center;
    flex-basis: calc(25% - 20%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1 );
    padding: 50px;
   background-image: url(img/ooo.jpg);
   background-size: cover;
   border-radius: 10px;
 }
 
 .ofert-1 img {
   width: 50000px;
   margin-bottom: 10px;
 }
 
 .ofert-1 p{
    font-size: 300%;
    margin: 0;
    font-weight: 600;
    color: #ffffff;
 }
 
 .products {
  padding: 2rem;
  text-align: center;
 }
 
 .products h2 {
    font-size: 40px;
    
    text-transform: capitalize;
    margin-bottom: 10%;
 }
 
 .product-content{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 50px;
   width: -10px;
 }
 
  .product {
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    padding: 30px;
    border-radius: 10px;
   background-image: url(img/fondo/madera.jpg);
 }
 .product img {
    width: 100px;
    margin-bottom: 30px;   
 }
 
 .product h3{
    color: #ffffff;
 }
 
 
 .btn-2{
    display: inline-block;
    margin-top: 3px;
    padding: 7px 25px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff0000;
 }
 
 
 .contact{
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 form{
    display: flex;
 
 }
 input{
    padding: 17px 35px;
    border-radius: 25px;
    border: 1px solid #ff0000;
    outline: none;
 }
 
 .btn-3{
    margin-left: 10px;
    color: #ffffff;
    background-color: #971d1d;
 }
 

 
 .link h3 {
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 10px;
 }
 
 .link a {
    color: #f3f3f3;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
 }
 
 .link a:hover{
    color: #ffffff;
 }
 
 @media(max-width:991px) {
    .menu{
       padding: 30px;
    }
 
    .menu label {
       display: initial;
    }
 
    .menu .navbar {
       position: absolute;
       top: 100%;
       left: 0;
       right: 0;
       background-color: #333128;
       display: none;
    }
 
    .menu .navbar ul li {
       width: 100%;
    }
    .menu .navbar ul li {
       color: #ffffff;
    }
 
    .logo {
       display: none;
    }
    #menu:checked ~ .navbar {
       display: initial;
    }
 
    .submenu:hover #carrito {
       min-width: 340px;
    }
 
    .header {
       min-height: 0vh;
       padding: 100px 30px;
    }
 
    .header-content{
       flex-direction: column;
       text-align: center;
    }
 
    .header-txt{
       margin-bottom: 20px;
    }
 
    .header-img img {
       width: 300px;
    }
 
    .information {
       display: none;
    }
 
    .oferts {
       padding: 30px;
       flex-direction: column;
    }
 
    .ofert-1 {
       margin-bottom: 25px;
    }
 
    .products {
       padding: 30px;
    }
    .product-content {
       grid-template-columns: repeat(2, 1fr);
    }
 
    .service {
       flex-direction: column;
    }
 
 }

 #titulado{
   text-decoration: underline;
 }
 #exprescofe{
   position: absolute;
   width: 20%;
   height: 200px;
   left: 0;
 }



/* campras */

.product {
  background-image: url(img/fondo/madera.jpg);
 
   grid-template-columns: repeat(4, 3fr);
   gap: 50px;

   display: flex;
   flex-direction: column;
   gap: 0.75rem;
 
   padding: 1rem;
   width: 14rem;
   background-color: var(--bg-card);
 
   border-radius: 1rem;
 }
 
 .product img {
 
   width: 100%;
   height: 8rem;
   border-radius: 0.5rem;
 }
 

 
 .size {
   font-size: 0.75rem;
   color: var(--light);
 }
 
 .list-size {
   display: flex;
   align-items: center;
   gap: 0.25rem;
 
   margin-top: 0.25rem;
 }
 
 .list-size .item-list {
   list-style: none;
 }
 
 .list-size .item-list-button {
   cursor: pointer;
 
   padding: 0.5rem;
   background-color: var(--zinc-800);
 
   font-size: 0.75rem;
   color: var(--light);
 
   border: 2px solid var(--zinc-800);
   border-radius: 0.25rem;
 
   transition: all 0.3s ease-in-out;
 }
 
 .item-list-button:hover {
   border: 2px solid var(--light);
 }
 .item-list-button:focus {
   background-color: var(--primary);
 
   border: 2px solid var(--primary-shadow);
 
   box-shadow: inset 0px 1px 4px var(--primary-shadow);
 }
 
 .action {
   display: flex;
   align-items: center;
   gap: 1rem;
 }
 
 .price {
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--light);
 }
 
 .cart-button {
   cursor: pointer;
 
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.25rem;
 
   padding: 0.5rem;
   width: 100%;
   background-image: var(--bg-linear);
 
   font-size: 0.75rem;
   font-weight: 500;
   color: var(--light);
   text-wrap: nowrap;
 
   border: 2px solid hsla(262, 83%, 58%, 0.5);
   border-radius: 0.5rem;
   box-shadow: inset 0 0 0.25rem 1px var(--light);
 }
 
 .cart-button .cart-icon {
   width: 1rem;
 }





 
.card-client {
   background: #555;
   width: 13rem;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-left: 20px;
   padding-right: 20px;
   border: 4px solid #fff;
   box-shadow: 0 6px 10px #212121;
   border-radius: 10px;
   text-align: center;
   color: #fff;
   font-family: "Poppins", sans-serif;
   transition: all 0.3s ease;
 }
 
 .card-client:hover {
   transform: translateY(-10px);
 }
 
 .user-picture {
   overflow: hidden;
   object-fit: cover;
   width: 5rem;
   height: 5rem;
   border: 4px solid #fff;
   border-radius: 999px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
 }
 
 .user-picture svg {
   width: 2.5rem;
   fill: currentColor;
 }
 
 .name-client {
   margin: 0;
   margin-top: 20px;
   font-weight: 600;
   font-size: 18px;
 }
 
 .name-client span {
   display: block;
   font-weight: 200;
   font-size: 16px;
 }
 
 .social-media:before {
   content: " ";
   display: block;
   width: 100%;
   height: 2px;
   margin: 20px 0;
   background: #fff;
 }
 
 .social-media a {
   position: relative;
   margin-right: 15px;
   text-decoration: none;
   color: inherit;
 }
 
 .social-media a:last-child {
   margin-right: 0;
 }
 
 .social-media a svg {
   width: 1.1rem;
   fill: currentColor;
 }
 



.card {
   width: 200px;
   height: 290px;
   border-radius: 10px;
   transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   display: flex;
   flex-direction: column;
 }
 
 .shadow {
   box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
 }
 
 .ribbon {
   width: 230px;
   position: absolute;
   margin-top: 150px;
   margin-left: -20px;
   text-align: center;
   font-size: 20px !important;
   background: #D64B4B;
   background: -webkit-gradient(linear, left top, left bottom, from(#D64B4B), to(#AB2C2C));
   background: -webkit-linear-gradient(top, #D64B4B, #AB2C2C);
   background: -moz-linear-gradient(top, #D64B4B, #AB2C2C);
   background: -ms-linear-gradient(top, #D64B4B, #AB2C2C);
   background: -o-linear-gradient(top, #D64B4B, #AB2C2C);
   background-image: -ms-linear-gradient(top, #D64B4B 0%, #AB2C2C 100%);
   -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
   box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
 }
 
 .ribbon span {
   font-size: 35px !important;
   color: #801111;
   text-shadow: #D65C5C 0 1px 0;
   margin: 0px;
   padding: 19px 10px;
 }
 
 .ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #C23A3A;
  
 }
 
 .ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
   box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
 }
 
 .ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(0,0,0,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(0,0,0,0.4) -1px 1px 1px;
   box-shadow: rgba(0,0,0,0.4) -1px 1px 1px;
 }
 
 .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #871616 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
 }
 
 .ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
 }
 
 .ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
 }
 
 .ribbon-stitches-top {
   margin-top: 2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
 }
 
 .ribbon-stitches-bottom {
   margin-bottom: 2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
 }

 .navbar-nav{
   padding-left:40%;
   display: flex;
   padding-bottom: 2rem;
}
.Foto{
   padding-right: 100px;
   height: 100px;
   border-color: #181713;
}
.nav-item{
   font-size: 1,5rem;
   padding: 10px;
   padding: 1%;}

.comida{
   text-align: center;
}

.relo{
   grid-template-columns: repeat(4, 3fr);
}


.compra{
   display: grid;
   grid-template-columns: repeat(4, 3fr);
   gap: 50px;
}

.divide {
  background-color: #5e5c5c;
}

.uu {
background-image: url(img/rr.jpg);
background-size: cover;
}




.btn-2 {

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(-12.74%, rgba(110, 239, 255, .5)), color-stop(56.76%, rgba(106, 224, 255, .271)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) -12.74%, rgba(255, 0, 0, 0.271) 56.76%);
  border: 2px solid #acf7ff;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}

a:before {
  content: "";
  width: 4px;
  height: 28px;
 
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  bottom: -7px;
  left: 4px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

a:after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -2px;
  border-top: 15px solid transparent;
 
}

/* seccion de la cafeteria */
.cafeteria{
  background-image: url(img/fondo/cafe.avif);
 
}
/* seccion de postres*/
.postres{
background-image: url(img/fondo/Postres.jpg);
}
/* seccion de heladeria*/
.heladeria{
background-image: url(img/fondo/heladeria.jpg);
}
/*seccion de panaderia*/
.panaderia{
background-image: url(img/fondo/panderia.jpg);
}




footer {
 background-color: #ffffff;
  padding: 30px;
  text-align: center;
}

.creadores {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.foto-creador {
  width: 80px; 
  height: 80px; 
  border-radius: 50%; 
  object-fit: cover; 
  transition: transform 0.3s;
}

.foto-creador:hover {
  transform: scale(1.1); 
}

#carronav{
position: fixed;
right: 8%;
top: 0;
}



