.footer{
   background-color: black;
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
}
.fotP{
    text-align: center;
    color: white;
}
.seccion1{
  height: 100vh;  
}
body{
    background-image:url(imgfondo/el\ arbol.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
 }
 
 
 body{
    font-family: 'Times New Roman', Times, serif;
  background-image: url(img/fonod-de-caf.webp);
 }
 
    
 
 
 img{
    max-width: 100%;
 }
 
 .container{
    max-width: 1200px;
    margin: 0 auto;
    
 }
 
 .header{
    background-image: url(img/yyy.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 100px 0;
    color: rgb(255, 255, 255);
 }
 
 .menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }
 
 .logo{
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
 }
 
 .menu.navbar a {
  position: absolute;
  float: left;  
 }
 
 
 
 
 
 
 #menu{
    display: none;
 }
 .menu-icono{
    width: 25px;
 }
 .menu label{
    cursor: pointer;
    display: none;
 }
 
 .submenu{
    position: relative;
 }
 .submenu #carrito{
    display: none;
 }
 .submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #433e4776;
    padding: 20px;
    min-width: 400px;
 }
 
 table{
    width: 100%;
 }
 th, td {
    color: rgb(255, 0, 0);
 }
 
 
 .borrar{
    background-color: #8dc84b;
    border-radius: 50%;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    cursor: pointer;
 }
 
 .header-content{
    display: flex;
 }
 .header-txt{
    flex-basis: 50%;
 }
 .header-txt span {
    font-size: 16px;
    color: rgb(255, 132, 0);
    font-weight: 700;
    margin-bottom: 15px;
    display: block;
 }
 
 .header-txt h1 {
    font-size: 55px;
    line-height: 1;
    color: #333128;
    margin-bottom: 25px;
 }
 
 p {
    font-size: 16px;
    color: #181713;
    margin-bottom: 45px;
 }
 
 .btn-1 {
    display: inline-block;
    padding: 17px 17px;
    color: #ffffff;
    border-radius: 25px;
    background-color: #ff0000;
    text-transform: capitalize;
 }
 
 .header-img{
    flex-basis: 50%;
    text-align: center;
 }
 
 .header-img img{
    width: 400px;
 }
 
 .information {
    width: 70%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1 );
    padding: 25px 75px;
    margin-top: -75px;
    background-image: url(img/yyy.jpg);
    background-size: cover;
 }
 
 .information-content{
    text-align: center;
    display: flex;
    justify-content: space-between;
 }
 
 .information-1 imf {
 width: 35px;
 }
 
 h3{
    font-size: 17px;
    color: #ff0000;
    text-transform: capitalize;
 }
 
 .information-1 p {
 margin-bottom: 0;
 }
 .oferts{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    
 }
 
 .ofert-1{
    text-align: center;
    flex-basis: calc(25% - 20%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1 );
    padding: 50px;
   background-image: url(img/ooo.jpg);
   background-size: cover;
   border-radius: 10px;
 }
 
 .ofert-1 img {
   width: 50000px;
   margin-bottom: 10px;
 }
 
 .ofert-1 p{
    font-size: 300%;
    margin: 0;
    font-weight: 600;
    color: #ff0000;
 }
 
 .products {
    padding: 0 0 100px 0 ;
    text-align: center;
 }
 
 .products h2 {
    font-size: 40px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 10%;
 }
 
 .product-content{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 50px;
 }
 
 .product {
    text-align: center;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    padding: 35px;
    border-radius: 10px;
 }
 .product img {
    width: 150px;
    margin-bottom: 30px;   
 }
 
 .product h3{
    color: #000000;
 }
 
 .product p {
    font-size: 15px;
    margin: 0;
    color: #181713;
    font-weight: 600;
 }
 
 .btn-2{
    display: inline-block;
    margin-top: 15px;
    padding: 7px 25px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff0000;
 }
 
 
 .contact{
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 form{
    display: flex;
 
 }
 input{
    padding: 17px 35px;
    border-radius: 25px;
    border: 1px solid #ff0000;
    outline: none;
 }
 
 .btn-3{
    margin-left: 10px;
    color: #ffffff;
    background-color: #971d1d;
 }
 

 
 .link h3 {
    color: #000000;
    font-size: 17px;
    margin-bottom: 10px;
 }
 
 .link a {
    color: #f3f3f3;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
 }
 
 .link a:hover{
    color: #ffffff;
 }
 
 @media(max-width:991px) {
    .menu{
       padding: 30px;
    }
 
    .menu label {
       display: initial;
    }
 
    .menu .navbar {
       position: absolute;
       top: 100%;
       left: 0;
       right: 0;
       background-color: #333128;
       display: none;
    }
 
    .menu .navbar ul li {
       width: 100%;
    }
    .menu .navbar ul li {
       color: #ffffff;
    }
 
    .logo {
       display: none;
    }
    #menu:checked ~ .navbar {
       display: initial;
    }
 
    .submenu:hover #carrito {
       min-width: 340px;
    }
 
    .header {
       min-height: 0vh;
       padding: 100px 30px;
    }
 
    .header-content{
       flex-direction: column;
       text-align: center;
    }
 
    .header-txt{
       margin-bottom: 20px;
    }
 
    .header-img img {
       width: 300px;
    }
 
    .information {
       display: none;
    }
 
    .oferts {
       padding: 30px;
       flex-direction: column;
    }
 
    .ofert-1 {
       margin-bottom: 25px;
    }
 
    .products {
       padding: 30px;
    }
    .product-content {
       grid-template-columns: repeat(1, 1fr);
    }
 
    .service {
       flex-direction: column;
    }
 
 }

 #titulado{
   text-decoration: underline;
 }
 #exprescofe{
   position: absolute;
   width: 20%;
   height: 200px;
   left: 0;
 }



/* campras */

.card {
   --bg-card: #27272a;
   --primary: #6d28d9;
   --primary-shadow: #2e1065;
   --light: #d9d9d9;
   --zinc-800: #18181b;
   --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
 
   display: grid;
   grid-template-columns: repeat(3, 3fr);
   gap: 50px;

   display: flex;
   flex-direction: column;
   gap: 0.75rem;
 
   padding: 1rem;
   width: 14rem;
   background-color: var(--bg-card);
 
   border-radius: 1rem;
 }
 
 .image_container {
   overflow: hidden;
   cursor: pointer;
 
   position: relative;
   z-index: 5;
 
   width: 100%;
   height: 8rem;
   background-color: var(--primary-800);
 
   border-radius: 0.5rem;
 }
 
 .image_container .image {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 
   width: 3rem;
   fill: var(--light);
 }
 
 .title {
   overflow: clip;
 
   width: 100%;
 
   font-size: 1rem;
   font-weight: 600;
   color: var(--light);
   text-transform: capitalize;
   text-wrap: nowrap;
   text-overflow: ellipsis;
 }
 
 .size {
   font-size: 0.75rem;
   color: var(--light);
 }
 
 .list-size {
   display: flex;
   align-items: center;
   gap: 0.25rem;
 
   margin-top: 0.25rem;
 }
 
 .list-size .item-list {
   list-style: none;
 }
 
 .list-size .item-list-button {
   cursor: pointer;
 
   padding: 0.5rem;
   background-color: var(--zinc-800);
 
   font-size: 0.75rem;
   color: var(--light);
 
   border: 2px solid var(--zinc-800);
   border-radius: 0.25rem;
 
   transition: all 0.3s ease-in-out;
 }
 
 .item-list-button:hover {
   border: 2px solid var(--light);
 }
 .item-list-button:focus {
   background-color: var(--primary);
 
   border: 2px solid var(--primary-shadow);
 
   box-shadow: inset 0px 1px 4px var(--primary-shadow);
 }
 
 .action {
   display: flex;
   align-items: center;
   gap: 1rem;
 }
 
 .price {
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--light);
 }
 
 .cart-button {
   cursor: pointer;
 
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.25rem;
 
   padding: 0.5rem;
   width: 100%;
   background-image: var(--bg-linear);
 
   font-size: 0.75rem;
   font-weight: 500;
   color: var(--light);
   text-wrap: nowrap;
 
   border: 2px solid hsla(262, 83%, 58%, 0.5);
   border-radius: 0.5rem;
   box-shadow: inset 0 0 0.25rem 1px var(--light);
 }
 
 .cart-button .cart-icon {
   width: 1rem;
 }




 /* From Uiverse.io by JaydipPrajapati1910 */ 
.card-client {
   background: #555;
   width: 13rem;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-left: 20px;
   padding-right: 20px;
   border: 4px solid #fff;
   box-shadow: 0 6px 10px #212121;
   border-radius: 10px;
   text-align: center;
   color: #fff;
   font-family: "Poppins", sans-serif;
   transition: all 0.3s ease;
 }
 
 .card-client:hover {
   transform: translateY(-10px);
 }
 
 .user-picture {
   overflow: hidden;
   object-fit: cover;
   width: 5rem;
   height: 5rem;
   border: 4px solid #fff;
   border-radius: 999px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
 }
 
 .user-picture svg {
   width: 2.5rem;
   fill: currentColor;
 }
 
 .name-client {
   margin: 0;
   margin-top: 20px;
   font-weight: 600;
   font-size: 18px;
 }
 
 .name-client span {
   display: block;
   font-weight: 200;
   font-size: 16px;
 }
 
 .social-media:before {
   content: " ";
   display: block;
   width: 100%;
   height: 2px;
   margin: 20px 0;
   background: #fff;
 }
 
 .social-media a {
   position: relative;
   margin-right: 15px;
   text-decoration: none;
   color: inherit;
 }
 
 .social-media a:last-child {
   margin-right: 0;
 }
 
 .social-media a svg {
   width: 1.1rem;
   fill: currentColor;
 }
 


 /* From Uiverse.io by JaydipPrajapati1910 */ 
.card {
   width: 200px;
   height: 290px;
   border-radius: 10px;
   transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   display: flex;
   flex-direction: column;
 }
 
 .shadow {
   box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
 }
 
 .ribbon {
   width: 230px;
   position: absolute;
   margin-top: 150px;
   margin-left: -20px;
   text-align: center;
   font-size: 20px !important;
   background: #D64B4B;
   background: -webkit-gradient(linear, left top, left bottom, from(#D64B4B), to(#AB2C2C));
   background: -webkit-linear-gradient(top, #D64B4B, #AB2C2C);
   background: -moz-linear-gradient(top, #D64B4B, #AB2C2C);
   background: -ms-linear-gradient(top, #D64B4B, #AB2C2C);
   background: -o-linear-gradient(top, #D64B4B, #AB2C2C);
   background-image: -ms-linear-gradient(top, #D64B4B 0%, #AB2C2C 100%);
   -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
   box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
 }
 
 .ribbon span {
   font-size: 35px !important;
   color: #801111;
   text-shadow: #D65C5C 0 1px 0;
   margin: 0px;
   padding: 19px 10px;
 }
 
 .ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #C23A3A;
   z-index: -1;
 }
 
 .ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
   box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
 }
 
 .ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(0,0,0,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(0,0,0,0.4) -1px 1px 1px;
   box-shadow: rgba(0,0,0,0.4) -1px 1px 1px;
 }
 
 .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #871616 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
 }
 
 .ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
 }
 
 .ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
 }
 
 .ribbon-stitches-top {
   margin-top: 2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
 }
 
 .ribbon-stitches-bottom {
   margin-bottom: 2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
 }
 